@import url('https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
.main{
    height: 800px;
    width: 100%;
    background-color:rgb(243, 191, 199);
 

    
}
.imageee{
    height: 800px;
    width: 100%;
    opacity: 0.4;
}

.text{
    font-family: 'Joan', serif;
    font-size: 90px;
    color: white;
    position: relative;
    top: -600px;
    left: 80px;

    height: 400px;
    width: 300px;
}
.Container{
   
    height: 600px;
    width: 600px;
    position: relative;
    bottom: 1100px;
    left: 500px;
    display: flex;
    flex-wrap: wrap;
    padding:30px 20px 0 20px ;
    ;
}

.one{
    height: 250px;
    width: 250px;
    
    margin-right:40px;

}

.two{
    height: 250px;
    width: 250px;

   
}
.three{
    height: 250px;
    width: 250px;
    
    margin-right:40px;
;
}

.four{
    height: 250px;
    width: 250px;
    
}

.book{
    height: 60px;
    width: 60px;
}

.comm{
    height: 60px;
    width: 60px;
}

.anno{
    height: 60px;
    width: 60px;
}

.deliver{
    height: 60px;
    width: 60px;
}

h5{
    color: rgb(41, 41, 41);
    font-family: 'Joan', serif;
    font-size: 30px;
}

.paras{
color: rgb(38, 36, 36);
padding-top:10px;
}